* {
    font-family: sans-serif;
}

main {
    padding: 5px;
}

table {
    border-collapse: collapse;
    margin-top: 3px;
}

th {
    text-align: left;
}

td {
    border: 1px solid #888;
    padding: 10px;
    column-width: 60px;
    text-align: left;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 10px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
} 

.topnav a:hover {
    color: aqua;
}

.topnav a.boldtext {
    font-weight: bolder;
}

.topnav a.normaltext {
    font-weight: normal;
}

.error {
    font-size: smaller;
    color: red;
}